.Journey {
  width: 704px;
  height: 528px;
  margin: 0 auto;
  margin-top: 40px;
}

.Journey-Description-1 {
  position: fixed;
  top: 575px;
  left: 45px;
  width: 720px;
  height: 250px;
  border: 1px solid lightslategrey;
  border-radius: 5px;
}

.Journey-Description-2 {
  position: fixed;
  top: 575px;
  left: 500px;
  width: 720px;
  height: 250px;
  border: 1px solid lightslategrey;
  border-radius: 5px;
}
